<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Display Car Info</title>
    </h:head>
    <h:body>
        <div align="center" style="background-color:#4EADAF">            
            <img src="#{carSelectionBean.img}" width="40%" height="40%" />
            <br /><br /><br />
            <p>
                Name: <h:outputText value="#{carSelectionBean.name}" />
                <br /><br /><br />
                Manufacturer: <h:outputText value="#{carSelectionBean.manufacturer}" />
            </p>
            <br /><br /><br />
            <input type="button" value="Home" name="Home" onclick="location.href='index.xhtml'" />
        </div>        
    </h:body>
</html>

