<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Unit 04 Assignment</title>
    </h:head>
    <h:body>
        <center>
            <h:form style="background-color:#F6D55C">
            <img src="altis.jpg" height="40%" width="40%" />
            <img src="camry.jpg" height="40%" width="40%" />
            <br /><br /><br />
            <h:selectOneMenu value="#{carSelectionBean.selectedCarID}">
                <f:selectItems value="#{carSelectionBean.car}"
                   var="car"
                   itemLabel="#{car.name.concat(' ').concat(car.manufacturer)}"
                   itemValue="#{car.id}" 
                   noSelectionValue="#{selectionBean.cars[0]}"
                   />
            </h:selectOneMenu>
            <br /><br /><br />
            <h:commandButton value="Select" action="#{carSelectionBean.dispalyInfo()}" />
            
        </h:form>
        </center>
    </h:body>
</html>

