<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Calendar</title>
    </h:head>
    <h:body>
        <style type="text/css">
            .value{
                width: 1000px;
                align-content: center;
                font-family: 微軟正黑體;
            }
        </style>
        <h:form>
            <p:growl id="messages" showDetail="true" />
      
            <h:panelGrid columnClasses="value">
                <p:schedule id="schedule" value="#{calendarView.eventModel}" widgetVar="myschedule" >
 
                    <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                    <p:ajax event="eventSelect" listener="#{calendarView.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                    <p:ajax event="eventMove" listener="#{calendarView.onEventMove}" update="messages" />
                    <p:ajax event="eventResize" listener="#{calendarView.onEventResize}" update="messages" />
 
                </p:schedule>
            </h:panelGrid>
     
            <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">
                <h:panelGrid id="eventDetails" columns="2">
                    <p:outputLabel for="title" value="Titles:" />
                    <p:inputText id="title" value="#{calendarView.event.title}" required="true" />
 
                    <p:outputLabel for="from" value="From:" />
                    <p:datePicker id="from" value="#{calendarView.event.startDate}" pattern="dd/MM/yyyy" showTime="true" appendTo="@(body)"  />
 
                    <p:outputLabel for="to" value="To:" />
                    <p:datePicker id="to" value="#{calendarView.event.endDate}" pattern="dd/MM/yyyy" showTime="true" appendTo="@(body)" />
 
                    <p:outputLabel for="allDay" value="All Day:" />
                    <h:selectBooleanCheckbox id="allDay" value="#{calendarView.event.allDay}" />
 
                    <p:commandButton type="reset" value="Reset" />
                    <p:commandButton id="addButton" value="Save" action="#{calendarView.addEvent}" oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
                </h:panelGrid>
            </p:dialog>
            
            <p:stack icon="/img/Dock/stack.png" expanded="true">
                <p:menuitem value="Home" icon="/img/Dock/home.png" action="success" />
                <p:menuitem value="StudentsList" icon="/img/Dock/lists.png" action="studentsList"/>
                <p:menuitem value="SchoolsList" icon="/img/Dock/bookmark.png" action="schoolsList"/>
                <p:menuitem value="Canlendar" icon="/img/Dock/calendar.png" action="calendar"/>
                <p:menuitem value="Logout" icon="/img/Dock/logout.png" action="index" />
            </p:stack>
        </h:form>
    </h:body>
</html>

