<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Student Management</title>
    </h:head>
    <h:body>
        <center><h2><p:outputLabel value="Create Student Record" /></h2></center>
        <h:form>
            <hr />
            <div>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="User Name: " />
                    <p:inputText id="name-id" value="#{studentBean.name}" required="true" />
                    
                    <p:outputLabel value="Email: " />
                    <p:inputText id="email-id" value="#{studentBean.email}" />
                    
                    <p:outputLabel value="Password: " />
                    <p:password id="password-id" value="#{studentBean.password}" required="true" feedback="true" match="password-id2" />
                    <p:outputLabel value="EnterPasswordAgain: " />
                    <p:password id="password-id2" value="#{studentBean.password}" required="true" />
                </h:panelGrid>
            </div>
            <div>
                <p:outputLabel value="Gender: " />
                <div>
                    <p:selectOneRadio id="gender-id" value="#{studentBean.gender}" validatorMessage="Please select your gender" >
                        <f:selectItem itemValue="M" itemLabel="Male" />
                        <f:selectItem itemValue="F" itemLabel="Female" />
                        <f:validateRequired />
                    </p:selectOneRadio>
                </div>
            </div>
            <div>
                <p:outputLabel value="Address: " />
                <div>
                    <p:inputTextarea id="address-id" value="#{studentBean.address}" cols="50" rows="5" />
                </div>
            </div>
            <div>
                <div>
                    <p:commandButton value="Save" action="#{studentBean.saveStudentDetails(studentBean)}" />
                </div>
                <div>
                    <p:link outcome="studentsList" value="View Student Record List" />
                </div>
            </div>
        </h:form>
    </h:body>
</html>

