<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Authentication failure</title>
    </h:head>
    <h:body>
        <h2 align="center"><p:outputLabel value="Invalid Username or Password" /></h2>  
        <center><h:link outcome="index" value="Go Back" /></center>
    </h:body>
</html>

