<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <!-- 
        加了就壞
        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:450px;height:210px;"src="https://www.clocklink.com/html5embed.php?clock=048&timezone=GMT0800&color=purple&size=450&Title=&Message=&Target=&From=2020,1,1,0,0,0&Color=purple"></iframe>
        參見 -> https://www.w3schools.com/code/tryit.asp?filename=GGAFMJY2JXZV
        -->
        <div class="cleanslate w24tz-current-time w24tz-large" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Taipei/time" style="text-decoration: none" class="clock24" id="tz24-1593509277-c1241-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNWVmYjA1OWRiMDIzMSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="Taipei actual time" target="_blank" rel="nofollow">Current time</a></p><div id="clock_block_cb5efb059db0231"></div></div>
        
        <script type="text/javascript" src="//w.24timezones.com/l.js" async="async"></script>
        <h:form id="loginForm">
            <table align="center">
                <tr>
                    <td><p:outputLabel value="Username:" /></td>
                    <td><p:inputText value="#{loginBean.userName}" /></td>
                </tr>
                <tr>
                    <td><p:outputLabel value="Password:" /></td>
                    <td><p:password value="#{loginBean.password}" /></td>
                </tr>
            </table>
            <div id="Submit" align="center">
                <p:commandButton value="Submit" action="#{loginBean.validate}" />
            </div>
            teacher01
        </h:form>
    </h:body>
</html>

