<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Student Management</title>
    </h:head>
    <h:body>
        <center><h2><p:outputLabel value="Student Records" /></h2></center>
        <h:form>
            <p:dataTable id="studentTable" binding="#{table}" value="#{studentBean.studentsList()}" var="student">
                <p:column>
                    <f:facet name="header">Id</f:facet>
                    <p:outputLabel value="#{table.rowIndex + 1}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Student Name</f:facet>
                    <p:outputLabel value="#{student.name}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Email Address</f:facet>
                    <p:outputLabel value="#{student.email}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Password</f:facet>
                    <p:outputLabel value="#{student.password}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Gender</f:facet>
                    <p:outputLabel value="#{student.gender}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Address</f:facet>
                    <p:outputLabel value="#{student.address}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Edit</f:facet>
                    <p:commandButton action="#{studentBean.editStudentRecord(student.id)}" value="Edit" />
                </p:column>
                <p:column>
                    <f:facet name="header">Delete</f:facet>
                    <p:commandButton action="#{studentBean.deleteStudentRecord(student.id)}" value="Delete" />
                </p:column>
            </p:dataTable>
            <center><p:commandButton action="createStudent.xhtml?faces-redirect=true" value="Create New User" /></center>
            
            <p:dock itemWidth="80" proximity="180">
                <p:menuitem value="Home" icon="/img/Dock/home.png" action="success" />
                <p:menuitem value="StudentsList" icon="/img/Dock/lists.png" action="studentsList"/>
                <p:menuitem value="SchoolsList" icon="/img/Dock/bookmark.png" action="schoolsList"/>
                <p:menuitem value="Canlendar" icon="/img/Dock/calendar.png" action="calendar"/>
                <p:menuitem value="Logout" icon="/img/Dock/logout.png" action="index" />
            </p:dock>
        </h:form>
    </h:body>
</html>

