<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Page1</title>
    </h:head>
    <h:body>
        <h1>Page1</h1>
        <a href="index.xhtml">Home</a>
        <h2>Goole01</h2>
        <img src="img/aaa.jpg" alt=""/>
    </h:body>
</html>

