<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>HW06</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                ID: <h:inputText value="#{itemBean.newItem.id}" />
                Description: <h:inputText value="#{itemBean.newItem.description}" />
                Image URL: <h:inputText value="#{itemBean.newItem.image}" />
            </h:panelGrid>
            <h:commandButton action="#{itemBean.addItem}" value="ADD" />
            List of Items:
            <ul>
                <ui:repeat value="#{itemBean.findAll()}" var="item" rendered="#{itemBean.findAll() != null}">
                    <li> #{item.id} #{item.description} #{item.image} </li>
                    <h:commandButton action="#{itemBean.delItem(item.id)}" value="DEL" />
                    <h:commandButton action="#{itemBean.editItem(item.id)}" value="EDIT">
                        <f:param name="id" value="#{item.id}" />
                    </h:commandButton>
                </ui:repeat>
            </ul>
        </h:form>
        
    </h:body>
</html>

